h3 {
	float:left;
	margin-right: 10px;
	font-size:18px;
}

p {
	float:left;
	margin-right: 30px;
	font-size:18px;
}

a {
	float:left;
	margin-right: 30px;
	font-size:18px;
	line-height: 55px;

}

div {
	display: inline-block;
	width: 600px;
}

.nextline {
	clear: left;
}